<%- include("template/cabecera", {tituloWeb: 'Detalles de la reserva' }) %>
    <div class="container">
        <h1>Detalles reserva</h1>
        <% if (error) { %>
            <%= mensaje %> 
            <a 
                href="/reservas"
                class="btn btn-dark btn-block my-2"
            >
                Volver
            </a>
<% } %>
<% if (!error) { %>
    <form id="editar" data-id="<%= reserva.id %>">
        <input type="text" value="<%= reserva.nombre %>" class="form-control my-2" name="nombre"
            id="nombreInput">
        <input type="text" value="<%= reserva.fechareserva %>" class="form-control my-2" name="fechareserva"
            id="fechareservaInput">
        <input type="text" value="<%= reserva.fechadevolucion %>" class="form-control my-2"
            name="fechadevolucion" id="fechadevolucionInput">
        <button class="btn btn-warning btn-sm" type="submit">
            Editar
        </button>
    </form>
    <hr>
    <button class="btn btn-danger btn-sm" data-id="<%= reserva.id %>">
        Eliminar
    </button>
<% } %>

    
    </div>
<%- include("template/footer") %>
<script>
    const btnEliminar = document.querySelector('.btn-danger')
    btnEliminar.addEventListener('click', async () => {
        console.log(btnEliminar.dataset.id)
        try {
            const data = await fetch(`/reservas/${btnEliminar.dataset.id}`, {
                method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if (res.estado) {
                window.location.href = '/reservas'
            } else {
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
    })
    const formEditar = document.querySelector('#editar');
            formEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                const nombre = formEditar.elements['nombre'].value
                const fechareserva = formEditar.elements['fechareserva'].value
                const fechadevolucion = formEditar.elements['fechadevolucion'].value
                const id = formEditar.dataset.id
                const data = await fetch(`/reservas/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre, fechareserva, fechadevolucion })
                })
                const res = await data.json()
                if (res.estado) {
                    window.location.href = '/reservas'
                } else {
                    console.log(res)
                }
            })
</script>